<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore App</title>
</head>
<body>

    <!-- Header -->
    <%- include("./partials/header.ejs") %> 

    <!-- Feed -->
    <h1>Here's the feed were all the posts will show up</h1>
    <p>Imagine some posts here...</p>

    <h2>Add new post</h2>
    <form action="#" method="POST">
        <input type="text" name="location" placeholder="Where is this located..." />
        <textarea name="description" id="description" cols="30" rows="10" placeholder="Describe your recommendation..."></textarea>
        <input type="file" id="image" name="image" accept="image/png, image/jpeg"><br>
        <button type="submit">Share this</button>
    </form>
    
</body>
</html>