<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore App</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

    <!-- Header -->
    <%- include("./partials/header.ejs") %> 

    <!-- Feed -->
    <h1>Here's the feed were all the posts will show up</h1>
    <p>Imagine some posts here...</p>

    <h2>Here's the actual posts</h2>
    <ul>
    <% for(let i = 0; i < posts.length; i++) { %> 
        <li>
            <span><%= posts[i].location %></span>
            <b><%= posts[i].description %></b>
        </li>
    <% } %>
</ul>

    <script>

        // const form = document.querySelector("form");
        // form.addEventListener("submit", (event) => {

        //     const location = document.querySelector("#location");
        //     const password = document.querySelector("#description");
        //     const formInfo = { location: location.value, description: description.value }

        //     const options = {
        //         method: 'POST',
        //         headers: {'Content-Type': 'application/json'};
        //         body: JSON.stringify(formInfo)
        //     }

        //     fetch("posts", options) 
        //     .then(response => response.json())
        //     .then((data) => {
        //         console.log("Data", data);
        //         document.querySelector("span").textContent = data.message;
        //     });
        // });

    </script>
    
</body>
</html>