<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="/styles/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <!-- Server message success -->
    <% if (serverMsg.message && serverMsg.type === "success") { %>
    <p id="server-message" class="<%= serverMsg.type %>"><i
            class="fa-solid fa-circle-check"></i><br><%= serverMsg.message %><br><button onclick="handleSuccess()"
            class="btn-success btn-signup">Ok</button></p>
    <% } %>

     <!-- Server message fail -->
    <% if (serverMsg.message && serverMsg.type === "fail") { %>
    <p id="server-message" class="<%= serverMsg.type %>">
        <i class="fa-solid fa-umbrella"></i><br><%= serverMsg.message %><br><button onclick="handleSuccess()"
            class="btn-success btn-signup">Ok</button></p>
    <% } %>

     <!-- Login form -->
    <main class="main-register">

        <div class="info-form-wrap">
            <div class="register-info">
                <h1>Login <i class="fa-solid fa-mosquito"></i></h1>
                <h2>Fill in your username and password to continue</h2>
            </div>

            <div class="register-form">
                <form action="/register/login" method="POST">
                    <div class="user-register-logo"><i class="fa-solid fa-user"></i><input type="text" name="username"
                            id="username"><br></div>
                    <div class="pw-register-logo"><i class="fa-solid fa-key"></i><input type="password" name="password"
                            id="password"></div><br>

                    <input type="submit" class="btn-signup" value="Log in">
                </form>
            </div>
        </div>

    </main>

    <script>
        function handleSuccess() {
            let serverMsg = document.getElementById("server-message");

            serverMsg.classList.add("display-none");
            console.log("Servermessage ok", serverMsg);
        }
    </script>

</body>

</html>