<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share something</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

    <!-- Header -->
    <%- include("./partials/header.ejs") %>

    <h1>This is were you create your own post</h1>

    <!-- <form action=""></form>
    <input type="text" placeholder="This is the place">
    <textarea name="textarea" id="textarea" cols="30" rows="10" placeholder="Describe your recommendation"></textarea>
    <input type="image" placeholder="Upload image">

    <button>Submit</button> -->

</body>

</html>