<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share something</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

    <!-- Header -->
    <%- include("./partials/header.ejs") %>

    <h1>This is were you create your own post</h1>

    <h2>Add new post</h2>
    <form action="/index" method="POST">
        <input type="text" name="location" id="location" placeholder="Where is this located..." />
        <textarea name="description" id="description" cols="30" rows="10" placeholder="Describe your recommendation..."></textarea><br>
        <input type="radio" name="radio-visible" id="visability">
        <label for="radio-visible">Make public</label>
        <input type="radio" name="radio-hidden" id="visability">
        <label for="radio-visible">Save post</label><br>
        <!-- <input type="file" id="image" name="image" accept="image/png, image/jpeg"><br> -->
        <button type="submit">Share this</button>
    </form>

</body>

</html>