<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

    <h1>Hi and welcome to this app</h1>
    <h2>We will have a LOGO very soon</h2>

    <button><a href="/login">Log in</a></button><br>
    <button><a href="/register">Become a member</a></button><br>
    <a href="/index">Continue as a guest</a>
    
</body>
</html>