* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #EFEFEF;
}

/* NAV MENU */

header {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    width: 100vw;
    background-color: #313528;
    height: 70px;

}

.header-logo {
    margin-left: 1.5rem;
    color: #F5F5F5;
    display: grid;
    justify-content: left;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
}

.header-post {
    display: grid;
    justify-content: right;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

/* Dropdown Button */

.nav-btn {
    display: grid;
    text-align: center;
    height: 70px;
}

#close-btn {
    display: none;
}

.dropbtn {
    color: #F5F5F5;
    background-color: #313528;
    /* padding: 16px; */
    font-size: 25px;
    border: none;
    cursor: pointer;
    border: none;

  }
  
  /* Dropdown button on hover & focus */
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */
  
  /* The container <div> - needed to position the dropdown content */
  /* .dropdown {
    position: relative;
    display: inline-block;
  } */
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#313528;
    min-width: 160px;
    /* margin-left: -18.5rem; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
    z-index: 1;
    width: 100vw;
  }


  /* .dropdown-content-wrapper {
   display: grid;
   align-items: center;
   justify-content: center;
  } */
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color:#F5F5F5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    padding: 1.5rem;
  }
  
  /* Change color of dropdown links on hover */
  /* .dropdown-content a:hover {background-color: #ddd;} */
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

/* .bf-login {
    text-align: center;
}

nav ul li {
    padding: 0.5rem;
    background-color: deeppink;
    text-align: center;
} */

/* WELCOME */

.main-welcome {
    width: 100%; 
    height: 100%;
    background: url("/images/forest.jpg");
    background-position: center;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 2fr 1fr;
}


.welcome-sec-logo {
    color: #F5F5F5;
    padding: 2rem;
    z-index: 10;
    margin-top: 180px;
}

.deco-line {
    height: 1px;
    background: #F5F5F5;
}

.welcome-sec-start {
    text-align: center;
    padding: 2rem;
    z-index: 10;
    display: grid;
    align-items: center;
}

/* WELCOME - Buttons, fonts */

.welcome-login {
    padding: 0.8rem;
    width: 90%;
    background: #8A8A6E;
    border-radius: 35px;
    text-transform: uppercase;
    box-shadow: 1px 4px 4px -17px rgba(0, 0, 0, 0.80);
    justify-self: center;
}

.welcome-register {
    padding: 0.8rem;
    width: 90%;
    background: #F5F5F5;
    border-radius: 35px;
    text-transform: uppercase;
    box-shadow: 1px 4px 4px -17px rgba(0, 0, 0, 0.80);
    justify-self: center;
}

.welcome-register a {
    color: #313528;
    font-family: 'Inter', sans-serif;
}

.a-guestuser {
    font-weight: bold;
}

.h1-welcome, .h2-wecome, .deco-line {
    margin: 0.4rem;
    font-family: 'Inter', sans-serif;
}

.h1-welcome {
    font-size: 30px;
    font-weight: bold;
}

.h2-welcome {
    font-size: 15px;
    font-weight: 200;
    margin-left: 5px;
}

a {
    color: #F5F5F5;
    text-decoration: none;
}

/* button {
    border-style: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: none;
} */

/* REGISTER & LOGIN */

.main-register {
    width: 100%; 
    height: 100%;
    background: #8A8A6E;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.info-form-wrap {
    display: grid;
    vertical-align: center;

}

.register-info {
    color: #F5F5F5;
    padding: 2rem;
    text-align: center;
    align-self: center;
}

.register-form, .login-form {
    text-align: center;
    padding: 2rem;
}

#password {
    background-color: #F5F5F5;
    border-style: none;
    padding: 0.8rem;
    color: #313528;
    border-radius: 0px 11px 11px 0px;
    box-shadow: 1px 4px 4px -17px rgba(0, 0, 0, 0.80);
}

#username {
    background-color: #F5F5F5;
    border-style: none;
    padding: 0.8rem;
    color: #313528;
    border-radius: 0px 11px 11px 0px;
    box-shadow: 1px 4px 4px -17px rgba(0, 0, 0, 0.80);
}

.btn-signup {
    border-style: none;
    padding: 0.8rem;
    width: 100%;
    background: #313528;
    border-radius: 11px;
    text-transform: uppercase;
    box-shadow: 1px 4px 4px -17px rgba(0, 0, 0, 0.80);
    justify-self: center;
    color: #F5F5F5;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.fa-user {
    background-color: #F5F5F5;
    color: #313528;
    padding: 0.8rem;
    border-radius: 11px 0px 0px 11px;
}

.fa-key {
    background-color: #F5F5F5;
    color: #313528;
    padding: 0.8rem;
    border-radius: 11px 0px 0px 11px;
}

.user-register-logo {
    display: grid;
    border-radius: 11px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.pw-register-logo {
    display: grid;
    border-radius: 11px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

h1, h2 {
    margin: 0.4rem;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 15px;
    font-weight: 200;
}

/* LOGIN */ 

/* .header-bf-login {
    background-color: #8A8A6E;
} */


/* INDEX - Posts */

.posts-wrap {
    background-color: #EFEFEF;
}

.li-posts {
    background-color: #EFEFEF;
    /* padding: 1rem; */
    margin: 2rem 0 2rem 0;
}

.post-image img {
    width: 100%;
    height: 200px;
    background-color:#8A8A6E;
    justify-content: center;
    align-items: center;
    display: flex;
    object-fit:cover;

}

.image-wrapper {
    display: grid;
}

.post-profile {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.post-profile-pic img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0.7rem;
    background-color:#313528;

}


.post-user {
    margin: 0.7rem;
    display: grid;
    align-items: center;
    color: #50524d;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.post-loc-map-like {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
    padding-left: 1.5rem;
    margin-top: -3rem;
    
}

.post-description {
    padding: 1rem;
}


.post-username {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #50524d;
    font-weight: bold;
}

.post-description {
    color: #50524d;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 1.5rem;
}

.fa-location-dot {
    font-size: 1.2rem;
    color: #EFEFEF;
    margin-right: 0.5rem;
}

.post-location {
    color: #EFEFEF;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

button .fa-heart, .fa-pen, .fa-trash, .map-btn-index {
    font-size: 1.2rem;
    padding: 0rem 0rem 0rem 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    color: #EFEFEF;
    background-color: transparent;

}

.edit-btn, .like-btn, .remove-btn {
    background-color: transparent;
    border: none;
}

.like-edit-del {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: transparent;

}

/* .like-edit-del-index {
    text-align: center;
    display: grid;
    grid-template-columns: 9fr;
    background-color: transparent;

} */

.like-btn-index {
    background-color: transparent;
    border: none;
}

.map-btn-index {
    margin-left: 4rem;
    background-color: transparent;
    border: none;
    color: #EFEFEF;
}

/* POST */

.fa-location-pin {
    background-color: white;
    color: #313528;
    padding: 0.8rem;
    text-align: center;
    border-radius: 11px 0px 0px 11px;

}

.location-logo {
    display: grid;
    border-radius: 11px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.location {
    background-color: white;
    border-style: none;
    padding: 0.8rem;
    color: #313528;
    border-radius: 0px 11px 11px 0px;
}

.main-post {
    width: 100%; 
    height: 100%;
    padding: 2rem;
    /* display: grid; */
}

.post-header {
    width: 100%;
    margin-bottom: 3rem;
}

.location-logo {
    display: grid;
    border-radius: 11px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.desc {
    background-color: white;
    border-style: none;
    padding: 0.8rem;
    color: #313528;
    width: 100%;
    border-radius: 11px 11px 11px 11px;
    padding: 1.5rem;
}

textarea {
    font-family: 'Inter', sans-serif;
}

.radio {
    font-family: 'Inter', sans-serif;
    padding: 1rem 1rem 1rem 0;
}

#visability {
   margin: 0.5rem;
}

/* PROFILE */

.profile-header {
    text-align: center;
    padding-top: 2rem;
}

.edit-form-wrap {
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: -25rem;
}

.overlay {
    background: #313528;
    opacity: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
}

.overlay {
    background-color: black;
    height: 1200px;
    margin-top: -20rem;
}


.edit-form {
    background-color:#8A8A6E;
    text-align: center;
    padding: 2rem;
    z-index: 2;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100%;
    width: 100%;
    border-radius: 8px;

}

.location-edit {
    display: grid;
    border-radius: 11px;
    grid-template-columns: 1fr 5fr;
    padding-top: 2rem;
}

.edit-post-btn {
    margin-top: 1.5rem;
}

.posts-wrap-profile {
    display: none;
}

/* QUERYS */

.success {
    background-color: #8A8A6E;
    color: #F5F5F5;
    padding: 2rem;
    text-align: center;


    font-family: 'Inter', sans-serif;
    /* margin-left: 4rem; */
    width: 100%;
    z-index: 2;
    position: absolute;
    border-radius: 1 0 0 1rem;
    box-shadow: rgba(0, 0, 0, 0.80) 0px 5px 15px;
}

.fail {
    background-color: #8A8A6E;
    color: #F5F5F5;
    padding: 2rem;
    text-align: center;

    font-family: 'Inter', sans-serif;
    /* margin-left: 4rem; */
    width: 100%;
    z-index: 2;
    position: absolute;
    border-radius: 1 0 0 1rem;
    box-shadow: rgba(0, 0, 0, 0.80) 0px 5px 15px;

}

.profile-info {
    text-align: center;
    margin-top: 2rem;
}
/* 
.success-p {
    margin: 2rem;
} */

.btn-success {
    margin-top: 2rem;
}

.fa-circle-check, .fa-umbrella {
    font-size: 30px;
    margin: 1rem;

}


.display-none {
    background-color: green;
    display: none;
}

button {
    border-style: none;
}

button a {
    font-weight: bold;
}

/* .profile-posted, .profile-liked {
    background-color: deeppink;
    padding: 1rem;
    border: none;
} */



/* button {
    background-color:#8A8A6E;
    padding: 0.2rem;
} */