* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

/* WELCOME */

.main-welcome {
    width: 100%; 
    height: 100%;
    background: url("/images/forest.jpg");
    background-position: center;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 2fr 1fr;
}

.overlay {
    background: #313528;
    opacity: 50%;
    position: absolute;
    width: 100%;
    height: 100%;

}

.welcome-sec-logo {
    color: #F5F5F5;
    padding: 2rem;
    z-index: 10;
    margin-top: 180px;
}

.deco-line {
    height: 1px;
    background: #F5F5F5;
}

.welcome-sec-start {
    text-align: center;
    padding: 2rem;
    z-index: 10;
    display: grid;
    align-items: center;
}

/* WELCOME - Buttons, fonts */

.welcome-login {
    padding: 0.8rem;
    width: 90%;
    background: #8A8A6E;
    border-radius: 35px;
    text-transform: uppercase;
    box-shadow: 1px 4px 4px -17px rgba(0, 0, 0, 0.80);
    justify-self: center;
}

.welcome-register {
    padding: 0.8rem;
    width: 90%;
    background: #F5F5F5;
    border-radius: 35px;
    text-transform: uppercase;
    box-shadow: 1px 4px 4px -17px rgba(0, 0, 0, 0.80);
    justify-self: center;
}

.welcome-register a {
    color: #313528;
    font-family: 'Inter', sans-serif;
}

.a-guestuser {
    font-weight: bold;
}

.h1-welcome, .h2-wecome, .deco-line {
    margin: 0.4rem;
    font-family: 'Inter', sans-serif;
}

.h1-welcome {
    font-size: 30px;
    font-weight: bold;
}

.h2-welcome {
    font-size: 15px;
    font-weight: 200;
    margin-left: 5px;
}

a {
    color: #F5F5F5;
    text-decoration: none;
}

button {
    border-style: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

/* REGISTER & LOGIN */

.main-register {
    width: 100%; 
    height: 100%;
    background: #8A8A6E;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.info-form-wrap {
    display: grid;
    vertical-align: center;

}

.register-info {
    color: #F5F5F5;
    padding: 2rem;
    text-align: center;
    align-self: center;
}

.register-form, .login-form {
    text-align: center;
    padding: 2rem;
}

#password {
    background-color: #F5F5F5;
    border-style: none;
    padding: 0.8rem;
    color: #313528;
    border-radius: 0px 11px 11px 0px;
    box-shadow: 1px 4px 4px -17px rgba(0, 0, 0, 0.80);
}

#username {
    background-color: #F5F5F5;
    border-style: none;
    padding: 0.8rem;
    color: #313528;
    border-radius: 0px 11px 11px 0px;
    box-shadow: 1px 4px 4px -17px rgba(0, 0, 0, 0.80);
}

.btn-signup {
    border-style: none;
    padding: 0.8rem;
    width: 100%;
    background: #313528;
    border-radius: 11px;
    text-transform: uppercase;
    box-shadow: 1px 4px 4px -17px rgba(0, 0, 0, 0.80);
    justify-self: center;
    color: #F5F5F5;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.fa-solid, .fa-user {
    background-color: #F5F5F5;
    color: #313528;
    padding: 0.8rem;
}

.fa-solid, .fa-key {
    background-color: #F5F5F5;
    color: #313528;
    padding: 0.8rem;
    border-radius: 11px 0px 0px 11px;
}

.user-register-logo {
    display: grid;
    border-radius: 11px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.pw-register-logo {
    display: grid;
    border-radius: 11px;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

h1, h2 {
    margin: 0.4rem;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 15px;
    font-weight: 200;
}

/* LOGIN */ 

/* .header-bf-login {
    background-color: #8A8A6E;
} */




nav ul li {
    padding: 0.5rem;
    background-color: deeppink;
}

button {
    background-color: deeppink;
    padding: 0.2rem;
}