<header>
    <nav>
       <menu>
        <ul>
            <li><a href="#">Add post</a></li>
            <li><a href="#">Start</a></li>
            <li><a href="#">My profile</a></li>
            <li><a href="#">Become a member</a></li>
            <li><a href="#">Log out</a></li>
        </ul>
       </menu>
    </nav>
</header>